<h1 mat-dialog-title>Create New Flashcard</h1>
<div mat-dialog-content class="field-wrapper">
    <div class="mat-form">
        <label for="Question">Question</label>
        <input type="text" class="input" [(ngModel)]="question" required>
      </div>
      <div class="mat-form">
        <label for="Answer">Answer</label>
        <input type="text" class="input" [(ngModel)]="answer" required>
      </div>
</div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button (click)="onCreate()">Create</button>
      <p *ngIf="createFailed">Failed to create goal</p>
</div>