

<div class="container">
    <mat-card class="card">  
        <div id="loginRight">
            <h1>Sign In</h1>
            <form [formGroup]="loginForm" method="post" (ngSubmit)="onSubmit()">
                <label for="username">Username or email</label>
                <input type="text" id="username" name="username" required formControlName="username"><br><br>
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required formControlName="password">
                <a routerLink="/reset-password" routerLinkActive="active" id="forgotPass">Forgot password?</a>
                <p *ngIf="loginFailed" id="loginFailed">{{errorMessage}}</p>
                <button [disabled]="!loginForm.valid" type="submit" id="login-button">Sign in</button>
            </form>
            
            <div id="signup">
                <p>Are you new?</p>
                <a routerLink="/register" routerLinkActive="active">Create an Account</a>
            </div>
        </div>
    </mat-card>
</div>