

<mat-card id="cardBody" class="example-card" >
    <div id="cardContainer" [class.flipped]="questionUp" (click)="flipCard()">
            <div class="front">
                <mat-card-header>
                  <mat-card-title>Question</mat-card-title>
                </mat-card-header>
                        
                <div id="cardOptions">
                    <button id="deleteBtn" mat-button (click)="updateCard($event)"><i class="material-icons">settings</i></button>
                    <button id="editBtn" mat-button (click)="deleteCard($event)"><i class="material-icons">delete</i></button>
                    </div>
                    <mat-card-content class="card-content">
                        <p>{{cardData?.question}}</p>
                    </mat-card-content>
            </div>

            <div class="back">
                <mat-card-header>
                    <mat-card-title>Answer</mat-card-title>
                  </mat-card-header>
                  
                  <div id="cardOptions">
                      <button id="deleteBtn" mat-button (click)="updateCard($event)"><i class="material-icons">settings</i></button>
                      <button id="editBtn" mat-button (click)="deleteCard($event)"><i class="material-icons">delete</i></button>
                      </div>
                    <mat-card-content class="card-content">
                        <p>{{cardData?.answer}}</p>
                    </mat-card-content>
            </div>
        
    </div>
    
  </mat-card>